body {
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.match .match-up:last-child .vs {
    display: none;
}

.info-column-item {
    margin: 1em 0;
}
